# Приклад роботи з Pandas в середовищі для Jupyter notebook

#### 1. В середовищі Anaconda (меню:Environments) установіть пакет pandas-datareader

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import pandas_datareader as pdr
from statistics import *

####  2. Скачуємо інформацію про діяльність Google та Amazon за останні роки (Nasdaq-GS)

In [2]:
amzn=pdr.get_data_yahoo('AMZN', '20121101')
goog=pdr.get_data_yahoo('GOOG', '2012-11-01')

#### 3. Перегляд зчитаних даних: початкова частина, кінцева частина, інформація

Зчитування за замовчуванням перших 5 рядків

In [3]:
amzn.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-11-01,234.550003,231.339996,234.229996,232.139999,3905100,232.139999
2012-11-02,237.399994,232.110001,234.009995,232.419998,3374700,232.419998
2012-11-05,234.830002,230.110001,232.039993,234.330002,1846100,234.330002
2012-11-06,237.750000,234.449997,235.410004,237.559998,2661300,237.559998
2012-11-07,235.660004,229.419998,235.649994,232.059998,3624200,232.059998

Зчитування заданої кількості початкових рядків

In [4]:
amzn.head(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-11-01,234.550003,231.339996,234.229996,232.139999,3905100,232.139999
2012-11-02,237.399994,232.110001,234.009995,232.419998,3374700,232.419998
2012-11-05,234.830002,230.110001,232.039993,234.330002,1846100,234.330002
2012-11-06,237.750000,234.449997,235.410004,237.559998,2661300,237.559998
2012-11-07,235.660004,229.419998,235.649994,232.059998,3624200,232.059998
2012-11-08,233.449997,227.100006,232.220001,227.350006,2982400,227.350006
2012-11-09,230.970001,224.600006,226.259995,226.309998,3092500,226.309998
2012-11-12,229.220001,225.410004,226.589996,226.470001,2128800,226.470001
2012-11-13,227.899994,224.710007,225.119995,226.600006,2629800,226.600006
2012-11-14,227.410004,222.509995,226.500000,222.949997,3034100,222.949997

Зчитування прикінцевих 5 рядків

In [5]:
amzn.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-11-18,1753.699951,1722.709961,1738.300049,1752.530029,2839500,1752.530029
2019-11-19,1760.680054,1743.030029,1756.989990,1752.790039,2270800,1752.790039
2019-11-20,1762.520020,1734.119995,1749.140015,1745.530029,2790000,1745.530029
2019-11-21,1746.869995,1730.359985,1743.000000,1734.709961,2658400,1734.709961
2019-11-22,1746.430054,1731.000000,1739.020020,1745.719971,2477000,1745.719971

Інформація про набір даних, яка включає інформацію про кількість записів у стовпцях

In [6]:
amzn.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1778 entries, 2012-11-01 to 2019-11-22
Data columns (total 6 columns):
High         1778 non-null float64
Low          1778 non-null float64
Open         1778 non-null float64
Close        1778 non-null float64
Volume       1778 non-null int64
Adj Close    1778 non-null float64
dtypes: float64(5), int64(1)
memory usage: 97.2 KB

Інформація про два набори даних, які зчитуємо одночасно

In [7]:
print(amzn.info(), goog.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1778 entries, 2012-11-01 to 2019-11-22
Data columns (total 6 columns):
High         1778 non-null float64
Low          1778 non-null float64
Open         1778 non-null float64
Close        1778 non-null float64
Volume       1778 non-null int64
Adj Close    1778 non-null float64
dtypes: float64(5), int64(1)
memory usage: 97.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1778 entries, 2012-11-01 to 2019-11-22
Data columns (total 6 columns):
High         1778 non-null float64
Low          1778 non-null float64
Open         1778 non-null float64
Close        1778 non-null float64
Volume       1778 non-null float64
Adj Close    1778 non-null float64
dtypes: float64(6)
memory usage: 97.2 KB
None None

####  4. Фільтрування з використанням .loc,.iloc, index

Відкриваємо тільки ціну акцій на момент закриття біржі

In [8]:
amzn['Close']

Date
2012-11-01     232.139999
2012-11-02     232.419998
2012-11-05     234.330002
2012-11-06     237.559998
2012-11-07     232.059998
                 ...
2019-11-18    1752.530029
2019-11-19    1752.790039
2019-11-20    1745.530029
2019-11-21    1734.709961
2019-11-22    1745.719971
Name: Close, Length: 1778, dtype: float64

Для більш точного виводу скористаємось методом .loc з параметрами. Перший параметр - це зріз, який вказує діапазон рядків, а другий параметр - це назва стовпця таблиці

In [9]:
amzn.loc['20121110':'20121115','Open']

Date
2012-11-12    226.589996
2012-11-13    225.119995
2012-11-14    226.500000
2012-11-15    222.300003
Name: Open, dtype: float64

Фільтрація за допомогою методу .iloc. Параметрами цього методу є номер рядка і номер стовпця. Наприклад, виведемо перший рядок, третій стовпець

In [10]:
amzn.iloc[0,2]

234.22999572753906

Виводимо зріз за номерами рядків з першого по третій

In [11]:
amzn.iloc[0:3,2]

Date
2012-11-01    234.229996
2012-11-02    234.009995
2012-11-05    232.039993
Name: Open, dtype: float64

Вивід зрізу по рядках і стовпцях одночасно

In [12]:
amzn.iloc[0:3,2:4]

                  Open       Close
Date
2012-11-01  234.229996  232.139999
2012-11-02  234.009995  232.419998
2012-11-05  232.039993  234.330002

Фільтрація методом .index з умовою

In [13]:
amzn[amzn.index>'20190801']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-02,1846.359985,1808.020020,1845.069946,1823.239990,4956200,1823.239990
2019-08-05,1788.670044,1748.780029,1770.219971,1765.130005,6058200,1765.130005
2019-08-06,1793.770020,1753.400024,1792.229980,1787.829956,5070300,1787.829956
2019-08-07,1798.930054,1757.000000,1773.989990,1793.400024,4526900,1793.400024
2019-08-08,1834.260010,1798.109985,1806.000000,1832.890015,3701200,1832.890015
...,...,...,...,...,...,...
2019-11-18,1753.699951,1722.709961,1738.300049,1752.530029,2839500,1752.530029
2019-11-19,1760.680054,1743.030029,1756.989990,1752.790039,2270800,1752.790039
2019-11-20,1762.520020,1734.119995,1749.140015,1745.530029,2790000,1745.530029
2019-11-21,1746.869995,1730.359985,1743.000000,1734.709961,2658400,1734.709961
2019-11-22,1746.430054,1731.000000,1739.020020,1745.719971,2477000,1745.719971

Вивід математичного очікування та дисперсії для стовпчика Volume з застосуванням форматування

In [14]:
amzn[amzn.Volume>13910300]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-04-26,272.019989,252.809998,269.970001,254.809998,14030000,254.809998
2014-01-31,375.450012,357.760010,371.760010,358.690002,16154800,358.690002
2014-04-25,316.489990,302.709991,316.250000,303.829987,16180200,303.829987
2014-04-28,304.390015,288.000000,304.000000,296.579987,14479800,296.579987
2014-07-25,324.869995,314.760010,317.299988,324.010010,17846500,324.010010
2014-10-24,293.809998,284.000000,284.399994,287.059998,19801100,287.059998
2015-01-30,359.500000,340.739990,346.320007,354.529999,23856100,354.529999
2015-04-24,452.649994,439.000000,439.000000,445.100006,17176900,445.100006
2015-07-24,580.570007,529.349976,578.989990,529.419983,21909400,529.419983
2016-01-28,638.059998,597.549988,608.369995,635.349976,14015200,635.349976
2016-01-29,593.000000,570.000000,571.979980,587.000000,14677600,587.000000
2017-10-27,1105.579956,1050.550049,1058.140015,1100.949951,16565000,1100.949951
2018-02-09,1383.500000,1265.930054,1373.489990,1339.599976,14141500,1339.599976
2018-10-11,1755.400024,1685.099976,1724.000000,1719.359985,13935900,1719.359985
2018-10-26,1698.459961,1603.000000,1649.589966,1642.810059,14963800,1642.810059

####  5. Фільтрація з попередніми обчисленнями

Обчислення математичного очікування та стандартного відхилення

In [15]:
print('Mean: %.3f Std: %.3f' % (amzn['Volume'].mean(), amzn['Volume'].std()))

Mean: 3991223.847 Std: 2238522.483

In [16]:
high = amzn['Volume'].mean()+2*amzn['Volume'].std()

In [17]:
len(amzn[amzn.Volume>high] )/len(amzn)

0.04499437570303712

In [18]:
print(amzn['Volume'].mean())

3991223.8470191224

#### 6. Додавання стовпців до даних

Обрахуємо відсоток, на який змінюється ціна акцій на момент закриття біржі у порівнянні з попереднім днем. Результат записуємо у новий стовпчик таблиці

In [19]:
amzn['percent'] = amzn.Close.pct_change()

In [20]:
amzn.head()

,High,Low,Open,Close,Volume,Adj Close,percent
Date,,,,,,,
2012-11-01,234.550003,231.339996,234.229996,232.139999,3905100,232.139999,NaN
2012-11-02,237.399994,232.110001,234.009995,232.419998,3374700,232.419998,0.001206
2012-11-05,234.830002,230.110001,232.039993,234.330002,1846100,234.330002,0.008218
2012-11-06,237.750000,234.449997,235.410004,237.559998,2661300,237.559998,0.013784
2012-11-07,235.660004,229.419998,235.649994,232.059998,3624200,232.059998,-0.023152

####  7. Нарощування даних

Сформуємо набри даних для Google та Amazon за березень 2019 року

In [21]:
goog19 = goog.loc['2019-03']
amzn19 = amzn.loc['2019-03']

In [22]:
goog19.append(amzn19, sort=False).head()

,High,Low,Open,Close,Volume,Adj Close,percent
Date,,,,,,,
2019-03-01,1142.969971,1124.750000,1124.900024,1140.989990,1450300.0,1140.989990,NaN
2019-03-04,1158.280029,1130.689941,1146.989990,1147.800049,1446000.0,1147.800049,NaN
2019-03-05,1169.609985,1146.194946,1150.060059,1162.030029,1443200.0,1162.030029,NaN
2019-03-06,1167.566040,1155.489990,1162.489990,1157.859985,1099300.0,1157.859985,NaN
2019-03-07,1156.755005,1134.910034,1155.719971,1143.300049,1166600.0,1143.300049,NaN

Стовпчик 'percent' містить значення NaN. Відповідні значення не були обраховані для набору goog. Тому  дані  відсутні в наборі goog19. Цей факт можна визначити, скориставшись методом .info()

In [23]:
goog19.append(amzn19, sort=False).info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 42 entries, 2019-03-01 to 2019-03-29
Data columns (total 7 columns):
High         42 non-null float64
Low          42 non-null float64
Open         42 non-null float64
Close        42 non-null float64
Volume       42 non-null float64
Adj Close    42 non-null float64
percent      21 non-null float64
dtypes: float64(7)
memory usage: 2.6 KB

Ми бачимо, що у стовпчику 'percent' вдвоє менше даних, ніж в інших стовпчиках. Дані 'percent' відсутні у першій половині спільної таблиці. Але у другій половині, яка містить записи з набору amzn, такі дані наявні. Це можна перевірити, вивівши хвіст таблиці.

In [24]:
goog19.append(amzn19, sort=False).tail()

,High,Low,Open,Close,Volume,Adj Close,percent
Date,,,,,,,
2019-03-25,1782.680054,1747.500000,1757.790039,1774.260010,5103800.0,1774.260010,0.005377
2019-03-26,1805.770020,1773.359985,1793.000000,1783.760010,4865900.0,1783.760010,0.005354
2019-03-27,1787.500000,1745.680054,1784.130005,1765.699951,4324800.0,1765.699951,-0.010125
2019-03-28,1777.930054,1753.469971,1770.000000,1773.420044,3043000.0,1773.420044,0.004372
2019-03-29,1792.859985,1776.630005,1786.579956,1780.750000,3320800.0,1780.750000,0.004133

#### 8. Порівняння стовпців даних з різних структур типу DataFrame

Порівняємо стовпці 'High' для наших наборів даних. Для цього створимо об'єкт high типу DataFrame. Як параметр передаємо словник з ключем, що відповідає набору даних, і значенням, що містить вектор стовпця. Результати роздрукували за допомогою методу .loc або іншого, відомого нам методу.

In [25]:
high=pd.DataFrame({'AMZN' : amzn.High, 'GOOG' : goog.High})
high.loc['20190110':'20190115','AMZN':'GOOG']

                   AMZN         GOOG
Date
2019-01-10  1663.250000  1071.150024
2019-01-11  1660.290039  1063.775024
2019-01-14  1648.199951  1051.530029
2019-01-15  1675.160034  1080.050049

#### 9. Групування і сортування даних

Згрупувати можна записи, якщо вони мають однакові значення у стовпці, по якому проводимо групування. Отримаємо об'єкт зі згрупованими записами. До кожної такої групи можна застосувати функцію. Якщо у нашому наборі застосувати групування до стовпця 'Open', то будуть згруповані всі записи з однаковою ціною акцій на момент відкриття біржі. Застосуємо до згрупованих записів функцію sum().

In [ ]:
a=goog.groupby(['Open']).sum()
a.tail()

Очевидно, що ми не отримали групування, оскільки кожний день ціна акцій компанії на момент відкриття біржі була різна. Тому група у нас складається з одного запису. Стовпець, по якому проводилося групування, відображено жирним шрифтом.

Розглянемо узагальнення таблиці з групуванням. Нехай необхідно дізнатися середнє значення продажів у 2019 році помісячно. Для групування даних помісячно використаємо функцію resample() з параметром 'M'.

In [ ]:
goog['Volume'][goog.index>'2019'].resample('M').mean()

Інформація про середні продажі помісячно виведена в таблицю. Для більшої наглядності ми можемо представити її у вигляді графіка. Для цього додамо ще функцію plot().

In [ ]:
goog['Volume'][goog.index>'2019'].resample('M').mean().plot()

#### 10. Кумулятивна сума

Розглянемо ще один вид агрегування даних. Нехай необхідно визначити графік поточної зміни мінімальної ціни на акції.
Для цього для кожного дня знайдемо відношення ціни акції до її ціни за попередній день.

In [ ]:
amzn_change=np.log(amzn.Low / amzn.Low.shift(1))
goog_change=np.log(goog.Low / goog.Low.shift(1))

Кумулятивну суму цих відношень покажемо на графіку

In [ ]:
amzn_change.cumsum().plot()
goog_change.cumsum().plot()

#### 11. Створення нового набору даних типу DataFrame і збереження його в csv

Створимо новий набір даних типу DataFrame. Цей набір міститиме дані amzn_change і goog.change. Оскільки порівняння відбувається з попереднім днем, то дані за перший день відсутні. Тому формування нашого набору починаємо з другого рядка.

In [ ]:
new=pd.DataFrame({'AMZN': amzn_change[1:], 'GOOG': goog_change[1:]})
new.head()

Записуємо набір даних new у файл 'stocks.csv'

In [ ]:
new.to_csv('stocks.csv')

Читаємо дані з файлу 'stocks.csv'

In [ ]:
new1=pd.read_csv('stocks.csv')
new1.head()

#### 12. Заміна індексного стовпця і видалення стовпців

При зчитуванні втрачається індексування по даті. Тому DataFrame додає новий стовпчик з номером, за яким відбувається індексування. Якщо необхідно позбутися цього, то існує два підходи.
Перший підхід, який перепризначає індекс:

In [ ]:
new1=pd.read_csv('stocks.csv')
new1.index=new1.Date
new1.head()

Другий підхід з використанням методу drop():

In [ ]:
new1.drop(['Date'],axis=1,inplace=True)
new1.head()

#### 13. Перейменування стовпців

In [ ]:
new1.rename(columns={'AMZN':'CH_AMZN'},inplace=True)
new1.head()

#### 14. Використання методу rolling() для обчислення пересувного середнього

In [ ]:
goog_close = pd.DataFrame(goog.Close).resample('W').mean()

In [ ]:
goog_close['MA_7'] = goog_close.Close.rolling(7).mean()
goog_close['MA_20'] = goog_close.Close.rolling(20).mean()

In [ ]:
plt.figure(figsize=(15,10))
plt.grid(True)
plt.plot(goog_close['Close'])
plt.plot(goog_close['MA_7'])
plt.plot(goog_close['MA_20'])